node_modules
*~
.pnpm-store
packages/lazy-dom/build/wasm/
packages/lazy-dom/dist/
packages/jest-environment-lazy-dom/dist/
packages/test-wpt/vendor/wpt/
packages/test-react-source/vendor/react/
.claude
pro
